.add-student-card {
  font-family: 'OpenDyslexicRegular';
  display: inline-block;
  width: 90%;
  background-color:lightskyblue;
  text-align: left;
  box-shadow: 5px 5px 5px #888888;
  border-radius: 8px;
  cursor: pointer;
  padding: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
}
hr {
  margin-top: 50px;
  width: 95%;
  
}
.student-header {
  background-color: white;
}
.student-card {
  font-family: 'OpenDyslexicRegular';
  display: inline-block;
  width: 80%;
  background-color:#bbff99; 
  text-align: left;
  box-shadow: 5px 5px 5px #888888;
  border-radius: 8px;
  cursor: pointer;
  padding: 15px;
  margin-top: 30px;
  margin-left: -50px;
}

.centered-div {
  text-align: center;
  margin: 0, auto;
}

.delete-button {
  background-color: #ff4da6;
  border: none;
}